<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<meta charset="UTF-8">
<title>Permission Denied</title>
</head>
<body>

<header>
		<h1>Small Town Library</h1>
		<h3>“The library is inhabited by spirits that 
		come out of the pages at night.” – Isabel Allende</h3>
	</header>
	<br>


<div class="myDiv">
<h1>Permission Denied</h1>

<h2>You do not have the required privilege to access this area</h2>

<h3>Login as administrator <a href="#" th:href="@{/login}">here</a></h3>
<h3>Back to <a href="#" th:href="@{/}">home</a></h3>

</div>
</body>
</html>